
html, body {
	/*background-image: linear-gradient(#d9faf5, #6da39b);*/
	background-image: -webkit-linear-gradient(#a8ffe6, #4ea38b);
	background-image: linear-gradient(#a8ffe6, #4ea38b);
	background-repeat: no-repeat;
    background-attachment: fixed;
   height:100%;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
   overflow: hidden;
}

.wrapper {
	height:100%;
   width: 50%;
   margin: auto;
   padding: 0;
   border: 0;
   overflow: hidden;
}

.statue{
	width: 560px;
	height: 650px;
	background: url(teststatue.png) no-repeat center;
	background-size: cover;
	position: absolute;
	margin: auto;
	margin-top: 7%;
}

.resize{
	width: 138px;
	height: 84px;
	background: url(resizebubble.png);
	position: absolute;
	top: 14%;
	left: -3%;
}

.pressbutt{
	width: 133px;
	height: 91px;
	background: url(pressbutt.png);
	position: absolute;
	top: 15%;
	left: -2%;
}

.quill{
	width: 350px;
	height: 150px;
	background: url(quill_small.png);
	-webkit-animation: swing 4s steps(5) infinite;
	        animation: swing 4s steps(5) infinite;
	position: absolute;
	top: 16%;
	left: 61%;

}

@-webkit-keyframes swing{
	20%, 100% {background-position: -1750px;}
}

@keyframes swing{
	20%, 100% {background-position: -1750px;}
}


.eye-group {
  width: 180px;
  height: 50px;
  top: 220px;
  left: 130px;
  position: relative;
}
.eye {
  background-color: #a3a48a;
  width: 34px;
  height: 18px;
  border-radius: 45%;
  position: absolute;
  -webkit-animation: blink 8s infinite;
          animation: blink 8s infinite;
}
@-webkit-keyframes blink{
	0%, 100% {
        -webkit-transform: scale(1, .05);
                transform: scale(1, .05);
    }
    3%,
    97% {
        -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
    }
}
@keyframes blink{
	0%, 100% {
        -webkit-transform: scale(1, .05);
                transform: scale(1, .05);
    }
    3%,
    97% {
        -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
    }
}
.eye-left {
  left: 15px;
}
.eye-right {
  right: 15px;
}

.eyebrow{
	background-color: #727272;
  width: 37px;
  height: 10px;
  top: -8px;
  border-radius: 35%;
  position: absolute;
}


.eyesmile{
	height: 17px;
	width: 34px;
	border-top-left-radius: 34px;
    border-top-right-radius: 34px;

}


.ouch{
	width: 47px;
	height: 84px;
	background: url(ouch.png);
	position: absolute;
	top: 16%;
	left: 11%;
}


.pulse {
  margin:100px;
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #ffe940;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
  z-index: 1;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

.pulsestart {
  margin:100px;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #ffe940;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
  position: absolute;
  top: 55%;
  left: 20%;
  z-index: 1;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 20px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      box-shadow: 0 0 0 20px rgba(204,169,44, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}


.pulseone {
	position: absolute;
	left: 33%;
	top: 35%;
}
.pulsetwo {
	position: absolute;
	left: 41%;
	top: 18%;
	z-index:1;
}
.pulsethree {
	position: absolute;
	left: 26%;
	top: 2%;
	z-index:1;
}

.climb_boi {
	width: 245px;
	height: 365px;
	background: url(climbboi.png) no-repeat;
	position: absolute;
	left: 31%;
	top: 57%;
}

.climb_one {
	width: 245px;
	height: 365px;
	background: url(climb1_small.png);
	-webkit-animation: climbone 1.25s steps(17) forwards;
	        animation: climbone 1.25s steps(17) forwards;
	position: absolute;
	top: 33%;
	left: 23%;
}
@-webkit-keyframes climbone{
	/*100% {background-position: -4410px;}*/
	from { background-position: 0; }
    to { background-position: -4165px; }
}
@keyframes climbone{
	/*100% {background-position: -4410px;}*/
	from { background-position: 0; }
    to { background-position: -4165px; }
}

.climb_two {
	width: 245px;
	height: 365px;
	background: url(climb2_small.png);
	-webkit-animation: climbtwo 1.25s steps(14) forwards;
	        animation: climbtwo 1.25s steps(14) forwards;
	position: absolute;
	top: 18%;
	left: 30%;
}
@-webkit-keyframes climbtwo{
	/*100% {background-position: -4410px;}*/
	from { background-position: 0; }
    to { background-position: -3430px; }
}
@keyframes climbtwo{
	/*100% {background-position: -4410px;}*/
	from { background-position: 0; }
    to { background-position: -3430px; }
}

.climb_three {
	width: 245px;
	height: 420px;
	background: url(climb3_small.png);
	-webkit-animation: climbthree 2s steps(26) forwards;
	        animation: climbthree 2s steps(26) forwards;
	position: absolute;
	top: -8%;
	left: 29%;
}
@-webkit-keyframes climbthree{
	/*100% {background-position: -4410px;}*/
	from { background-position: 0; }
    to { background-position: -6370px; }
}
@keyframes climbthree{
	/*100% {background-position: -4410px;}*/
	from { background-position: 0; }
    to { background-position: -6370px; }
}

.climb_top {
	width: 200px;
	height: 200px;
	background: url(climbtop.png);
	-webkit-animation: climbtop 3s steps(6) infinite;
	        animation: climbtop 3s steps(6) infinite;
	position: absolute;
	top: -8%;
	left: 29%;
}
@-webkit-keyframes climbtop{
	20%, 100% {background-position: -1200px;}
/*	from { background-position: 0; }
    to { background-position: -1200px; }*/
}
@keyframes climbtop{
	20%, 100% {background-position: -1200px;}
/*	from { background-position: 0; }
    to { background-position: -1200px; }*/
}



.partyhorn{
	width: 300px;
	height: 200px;
	background: url(partyhorn.png);
	-webkit-animation: horn 3s steps(2) infinite;
	        animation: horn 3s steps(2) infinite;
	position: absolute;
	top: 40%;
	left: -13%;

}

@-webkit-keyframes horn{
	60%, 100% {background-position: -600px;}
}

@keyframes horn{
	60%, 100% {background-position: -600px;}
}


.mail{
	width: 100px;
	height: 100px;
	background: url(mail.png);
	-webkit-animation: float 1s steps(4) infinite;
	        animation: float 1s steps(4) infinite;
	position: absolute;
	top: 3%;
	left: 14%;

}

@-webkit-keyframes float{
	100% {background-position: -400px;}
}

@keyframes float{
	100% {background-position: -400px;}
}



.preloader {
   position: absolute;
   display: block;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 9999;
   background-image: url(91.gif);
   background-repeat: no-repeat; 
   background-color: #fff;
   background-position: center;
}



.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 2;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.popup {
  margin: 30px auto;
  padding: 20px;
  background: url(letterbase.png) no-repeat center;
  background-size: cover;
  border-radius: 5px;
  width: 600px;
  height: 600px;
  position: relative;
  -webkit-transition: all 4s ease-in-out;
  transition: all 4s ease-in-out;
  color: #555;
  font-family: Segoe UI, sans-serif;

}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #91ccbd;
}
.popup .content {
  overflow: auto;
  width: 80%;
  margin: auto;

}
.popup .content_eng {
  overflow: auto;
  width: 80%;
  margin: auto;
  font-size: 0.8em;
}
.popup h2 {
  margin-top: 0;
  color: #333;
  text-align: center;
  color: #444;
}


/****** MEDIA ********/
@media (max-width: 768px) {

.statue{
	background: url(teststatue.png) no-repeat center;
	background-size: cover;
	margin: auto;
	margin-top: 30%;
}


}